<h1>Widget example</h1>

<button mat-raised-button (click)="openWidget('yScz5I7ynO')">Open widget (yScz5I7ynO)</button>
<br /><br />
<button mat-raised-button (click)="openWidget('yScz5I7ynO', 'dark')">Open widget (yScz5I7ynO, theme=dark)</button>
<br /><br />
<button mat-raised-button (click)="openWidget('yScz5I7ynO', null, 'angular_example')">Open widget (yScz5I7ynO, user="angular_example")</button>
<br /><br />
<button mat-raised-button (click)="openWidget('YOUR_WIDGET_HASH')">Open widget (YOUR_WIDGET_HASH)</button>
<br /><br />